:root {
    --primary-design-color: #FFA07A;
    --secondary-design-color: #ff8b76;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

a {
    color: var(--primary-design-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    height: 150px;
    width: 150px;
}

.form-check {
    padding: 0;
}

.form-control:focus {
    border-color: var(--primary-design-color);
    box-shadow: 0 0 0 0.2rem rgba(255, 160, 122, 0.25);
    color: red;
}

input[type="checkbox"] {
    accent-color: var(--primary-design-color);
    width: 15px;
    height: 15px;
}


.navbar-brand {
    color: var(--primary-design-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.button {
    background-color: #FFA07A;
    background: linear-gradient(45deg, var(--primary-design-color), var(--secondary-design-color));
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.button:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #FFDAB9;
    background: linear-gradient(45deg, #FFA07A, #FFDAB9);
}

.button.secondary {
    background-color: var(--secondary-design-color);
    background: linear-gradient(45deg, var(--primary-design-color), var(--secondary-design-color));
}

.button.secondary:hover {
    background-color: #FFDAB9;
    background: linear-gradient(45deg, var(--secondary-design-color), #FFDAB9);
}

.button:active {
    transform: translateY(1px);
}

.button.alert {
    background-color: #FF6347;
    background: linear-gradient(45deg, #FF6347, #FF4500);
}

.button.alert:hover {
    background-color: #FF4500;
    background: linear-gradient(45deg, #FF6347, #FF4500);
}

.button.alert:active {
    transform: translateY(1px);
}

.title {
    color: var(--primary-design-color);
}

.text {
    color: var(--primary-design-color);
}

.transparent-button {
    background-color: transparent;
    color: var(--primary-design-color);
    border: none;
}

.transparent-button:hover {
    transform: scale(1.1);
}

.card-title {
    font-size: max(1rem, 2.75vw);
    font-weight: 400;
}

.card-text {
    font-size: max(0.75rem, 1.5vw);
    font-weight: 300;
}

.hide {
    visibility: hidden;
    display: flex;
    justify-content: end;
    width: 100%;
    padding-left: 2rem;
    transition: all ease-in-out 0.3s;
}

.doc {
    color: var(--primary-design-color);
    font-size: 1.5rem;
    font-weight: bold;
    transition: all ease-in-out 0.3s;
}

.doc:hover {
    color: var(--secondary-design-color);
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .doc:hover .hide {
        visibility: visible;
        transition: all ease-in-out 0.3s;
    }
}

.icon-gear:hover {
    color: var(--secondary-design-color);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.border {
    border: 1px solid var(--primary-design-color);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    transition: all ease-in-out 0.3s;
}


